/*Importar fontes*/
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Open+Sans&display=swap');

/*Configurações gerais*/
* {
    font-family: 'Graduate', cursive;
}

/*Configurações menu*/
#logo_menu {
    width: 250px;
    height: auto;
}

body {
    background-color: #e6e6e6;
}

/*Configuração dos cards*/
.card {
    background-color: #e6e6e6;
}

#alunos {
    background-color: #e6e6e6;
}

#card_instituicao {
    height: 425px;
}

.card-text{
    font-family: 'Open Sans', sans-serif;
}

/*Configuração hr*/
hr {
    height: 2px;
    background-color: #343A40;
    width: 95%;
}

/* Configurações Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;

    margin-top: 30px;

    background-color: #343A40;
}

footer > span {
    font-weight: 300;
    font-size: 16px;
    color: #FFB547;
}