* {
    font-family: initial ;
}

#logo_menu {
    width: 250px;
    height: auto;
}

#card_prof_1 {
    height: 400px;
}

#card_prof_2 {
    height: 400px;
}

#card_prof_3 {
    height: 400px;
}

#card_prof_4 {
    height: 400px;
}

#card_prof_5 {
    height: 400px;
}

#card_prof_6 {
    height: 400px;
}

#alunos {
    background-color: #f1f1f1;
}

#card_instituicao {
    height: 425px;
}

/* Configurações Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;

    margin-top: 30px;

    background-color: #343A40;
}

footer > span {
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
}